@tailwind base;
@tailwind components;

/* == == == general styles == == ==  */
html,
body {
  @apply font-body overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold mb-4 mt-8;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base font-bold;
}

p {
  @apply mb-4;
}

a {
  @apply text-gray-900;
  transition: color 200ms;
}
a:hover {
  @apply text-blue-500;
}

ul {
  @apply flex flex-col justify-center mb-4;
}

li {
  @apply list-decimal;
}

.fa li {
  list-style: persian;
}

h1,
h2,
h3,
h4 {
  @apply text-gray-900;
}

blockquote {
  @apply relative my-8 mx-4 pb-4 px-4 pt-8 italic bg-gray-800 bg-backWhite-opaque shadow border-l-8 border-primary-700;
  line-height: 1.6;
}

blockquote::before {
  @apply absolute text-6xl;
  font-family: Arial;
  content: '\201C';
  color: #78c0a8;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

blockquote span {
  @apply block mt-4;
  color: #333333;
  font-style: normal;
  font-weight: bold;
}

blockquote p {
  @apply m-0;
}

label {
  @apply text-gray-900 mb-2;
}

input,
textarea {
  border-radius: 0.5rem;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.25rem 1rem;
}
textarea:focus {
  outline: none;
}

.textRight {
  text-align: right;
}

/* == == == Buttons == == == */

.btn {
  @apply relative inline-block text-base py-4 px-8 m-4 shadow rounded-sm cursor-pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.btn:hover {
  @apply shadow-xl;
}

.btn:active {
  @apply shadow-none;
  transform: scale(0.95);
}

/* Primary */
.btn-primary {
  @apply bg-primary-500 text-black font-medium font-sans;
}
.btn-primary:hover {
  @apply bg-primary-600;
}

/* == == == Design Component == == == */

.Content {
  @apply relative z-50;
  a {
    @apply text-backWhite-pure;
    &:hover {
      @apply text-backWhite-opaque opacity-75;
    }
  }
}

.lineBelow:after {
  @apply absolute bg-backWhite-pure;
  content: '';
  height: 1px;
  width: 50px;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}

@tailwind utilities;
