@tailwind base;
@tailwind components;

/* == == == general styles == == ==  */
html,
body {
  @apply font-body;
}

a {
  @apply text-gray-900;
  transition: color 200ms;
}
a:hover {
  @apply text-blue-500;
}

h1,
h2,
h3,
h4 {
  @apply text-gray-900;
}

blockquote {
  @apply italic relative;
}

blockquote:before {
  @apply absolute h-full -ml-6;
  content: '';
  background: #72cc96;
  width: 6px;
}

label {
  @apply text-gray-900 mb-2;
}
input,
textarea {
  border-radius: 0.5rem;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.25rem 1rem;
}
textarea:focus {
  outline: none;
}

.textRight {
  text-align: right;
}

/* == == == Buttons == == == */

.btn {
  @apply relative inline-block text-base py-4 px-8 m-4 shadow rounded-sm cursor-pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.btn:hover {
  @apply shadow-xl;
}

.btn:active {
  @apply shadow-none;
  transform: scale(0.95);
}

/* Primary */
.btn-primary {
  @apply bg-primary-500 text-black font-medium font-sans;
}
.btn-primary:hover {
  @apply bg-primary-600;
}

/* == == == Design Component == == == */

.Content {
  @apply relative z-50;
  a {
    @apply text-backWhite-pure;
    &:hover {
      @apply text-backWhite-opaque opacity-75;
    }
  }
}

.lineBelow:after {
  @apply absolute bg-backWhite-pure;
  content: '';
  height: 1px;
  width: 50px;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}

@tailwind utilities;
